<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
</head>
<body>
    <div layout:fragment="content" class="container body-content">
        <form th:action="@{/course/create}" th:object="${course}" method="post" class="form">
            <div class="form-group">
                <label for="name">Place</label>
                <input class="form-control" type="text" th:field="*{place}" id="name" placeholder="Place">
            </div>

            <div class="form-group">
                <label for="image">Start Date:</label>
                <input class="form-control" type="date" th:field="*{startDate}" id="image" placeholder="image">
            </div>

            <div class="form-group">
                <label for="lectureName">Lecture:</label>
                <input class="form-control" type="text" th:field="*{lectureName}" id="lectureName" placeholder="lectureName">
            </div>
            <input type="submit" class="btn btn-success" value="Add">
        </form>

    </div>
</body>